In [2]:
import pickle
import os
import pandas as pd
import numpy as np

In [8]:
df_X1 = pd.read_pickle('E:/OneDrive/Documentos/GitHub/iris/IrisAutoencoder_LSTM_v2/train_data/df_X1.pkl')
df_X2 = pd.read_pickle('E:/OneDrive/Documentos/GitHub/iris/IrisAutoencoder_LSTM_v2/train_data/df_X2.pkl')
df_X3 = pd.read_pickle('E:/OneDrive/Documentos/GitHub/iris/IrisAutoencoder_LSTM_v2/train_data/df_X3.pkl')

"""df_X1.reset_index(inplace=True)
df_X2.reset_index(inplace=True)
df_X3.reset_index(inplace=True)"""

df_X1_melt = df_X1.melt(id_vars=['cnes', 'codigo_procedimento'], var_name='date', value_name='df_X1')
df_X2_melt = df_X2.melt(id_vars=['cnes', 'codigo_procedimento'], var_name='date', value_name='df_X2')
df_X3_melt = df_X3.melt(id_vars=['cnes', 'codigo_procedimento'], var_name='date', value_name='df_X3')


df = pd.merge(df_X1_melt, df_X2_melt, on=['cnes', 'codigo_procedimento', 'date'])
df = pd.merge(df, df_X3_melt, on=['cnes', 'codigo_procedimento', 'date'])

In [2]:
df_X1 = pd.read_pickle('/OneDrive/Documentos/GitHub/iris/IrisAutoencoder_LSTM_v2/train_data/df_X1.pkl')
df_X2 = pd.read_pickle('/OneDrive/Documentos/GitHub/iris/IrisAutoencoder_LSTM_v2/train_data/df_X2.pkl')
df_X3 = pd.read_pickle('/OneDrive/Documentos/GitHub/iris/IrisAutoencoder_LSTM_v2/train_data/df_X3.pkl')

In [3]:
df_X1.reset_index(inplace=True)
df_X2.reset_index(inplace=True)
df_X3.reset_index(inplace=True)

In [4]:
df_X1_melt = df_X1.melt(id_vars=['cnes', 'codigo_procedimento'], var_name='date', value_name='df_X1')
df_X2_melt = df_X2.melt(id_vars=['cnes', 'codigo_procedimento'], var_name='date', value_name='df_X2')
df_X3_melt = df_X3.melt(id_vars=['cnes', 'codigo_procedimento'], var_name='date', value_name='df_X3')

In [5]:
def check_order_and_duplicates(df):
    # Check if the DataFrame is sorted
    if not df.sort_values(['cnes', 'codigo_procedimento', 'date']).equals(df):
        return "Dataframe is not sorted."

    # Check for duplicated index values
    if df.duplicated(['cnes', 'codigo_procedimento', 'date']).any():
        return "Dataframe has duplicated index values."

    return "Dataframe is sorted and has unique index values."

print(check_order_and_duplicates(df_X1_melt))
print(check_order_and_duplicates(df_X2_melt))
print(check_order_and_duplicates(df_X3_melt))

Dataframe is not sorted.
Dataframe is not sorted.
Dataframe is not sorted.

In [6]:
def sort_dataframe(df):
    df = df.sort_values(['cnes', 'codigo_procedimento', 'date'])
    return df

df_X1_melt = sort_dataframe(df_X1_melt)
df_X2_melt = sort_dataframe(df_X2_melt)
df_X3_melt = sort_dataframe(df_X3_melt)

# Verificando novamente
print(check_order_and_duplicates(df_X1_melt))
print(check_order_and_duplicates(df_X2_melt))
print(check_order_and_duplicates(df_X3_melt))

Dataframe is sorted and has unique index values.
Dataframe is sorted and has unique index values.
Dataframe is sorted and has unique index values.

In [7]:
df = pd.merge(df_X1_melt, df_X2_melt, on=['cnes', 'codigo_procedimento', 'date'])
df = sort_dataframe(df)

df = pd.merge(df, df_X3_melt, on=['cnes', 'codigo_procedimento', 'date'])

In [8]:
print(df_X1_melt.shape)
print(df_X2_melt.shape)
print(df_X3_melt.shape)

(8674380, 4)
(8674380, 4)
(8674380, 4)

In [9]:
df = pd.merge(df_X1_melt, df_X2_melt, on=['cnes', 'codigo_procedimento', 'date'], how='outer')
df = pd.merge(df, df_X3_melt, on=['cnes', 'codigo_procedimento', 'date'], how='outer')

C:\Users\ricar\AppData\Local\Temp\ipykernel_28740\1036438272.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df = pd.merge(df, df_X3_melt, on=['cnes', 'codigo_procedimento', 'date'], how='outer')

In [10]:
print(df_X1_melt.drop_duplicates().shape)
print(df_X2_melt.drop_duplicates().shape)
print(df_X3_melt.drop_duplicates().shape)

df_inner = df_X1_melt.merge(df_X2_melt,on=['cnes','codigo_procedimento','date']).merge(df_X3_melt,on=['cnes','codigo_procedimento','date'])
print(df_inner.shape)

(8674380, 4)
(8674380, 4)
(8674380, 4)
(0, 6)

In [11]:
def check_dataframe(df):
    print("Shape:", df.shape)
    print("Data types:", df.dtypes)
    print("Number of unique values:\n", df.nunique())
    print("Number of null values:\n", df.isna().sum())

check_dataframe(df_X1)
check_dataframe(df_X2)
check_dataframe(df_X3)

Shape: (55605, 158)
Data types: cnes                     int64
codigo_procedimento      int64
201001                 float64
201002                 float64
201003                 float64
                        ...
202208                 float64
202209                 float64
202210                 float64
202211                 float64
202212                 float64
Length: 158, dtype: object
Number of unique values:
 cnes                   3706
codigo_procedimento     921
201001                 7007
201002                 6932
201003                 4947
                       ...
202208                 7202
202209                 7183
202210                 7254
202211                 7128
202212                 7209
Length: 158, dtype: int64
Number of null values:
 cnes                   0
codigo_procedimento    0
201001                 0
201002                 0
201003                 0
                      ..
202208                 0
202209                 0
202210                 0
202211                 0
202212                 0
Length: 158, dtype: int64
Shape: (55605, 158)
Data types: cnes                     int64
codigo_procedimento      int64
201001                 float64
201002                 float64
201003                 float64
                        ...
202208                 float64
202209                 float64
202210                 float64
202211                 float64
202212                 float64
Length: 158, dtype: object
Number of unique values:
 cnes                    3706
codigo_procedimento      921
201001                 42564
201002                 42164
201003                 41153
                       ...
202208                 44031
202209                 43940
202210                 44012
202211                 43888
202212                 43867
Length: 158, dtype: int64
Number of null values:
 cnes                   0
codigo_procedimento    0
201001                 0
201002                 0
201003                 0
                      ..
202208                 0
202209                 0
202210                 0
202211                 0
202212                 0
Length: 158, dtype: int64
Shape: (55605, 158)
Data types: cnes                     int64
codigo_procedimento      int64
201001                 float64
201002                 float64
201003                 float64
                        ...
202208                 float64
202209                 float64
202210                 float64
202211                 float64
202212                 float64
Length: 158, dtype: object
Number of unique values:
 cnes                   3706
codigo_procedimento     921
201001                 6763
201002                 6749
201003                 6431
                       ...
202208                 6185
202209                 6051
202210                 6119
202211                 6276
202212                 6529
Length: 158, dtype: int64
Number of null values:
 cnes                   0
codigo_procedimento    0
201001                 0
201002                 0
201003                 0
                      ..
202208                 0
202209                 0
202210                 0
202211                 0
202212                 0
Length: 158, dtype: int64

In [12]:
print(set(df_X1['cnes']) - set(df_X2['cnes']))
print(set(df_X1['cnes']) - set(df_X3['cnes']))

set()
set()

In [13]:
def check_merge_columns(df1, df2, df3, cols):
    for col in cols:
        if not df1[col].equals(df2[col]) or not df1[col].equals(df3[col]):
            print(f"Values in column {col} are not identical.")
        else:
            print(f"Values in column {col} are identical.")

check_merge_columns(df_X1_melt, df_X2_melt, df_X3_melt, ['cnes', 'codigo_procedimento', 'date'])

Values in column cnes are identical.
Values in column codigo_procedimento are identical.
Values in column date are not identical.

In [14]:
# Get list of date columns (excluding 'cnes' and 'codigo_procedimento')
date_cols = df_X1.columns[~df_X1.columns.isin(['cnes', 'codigo_procedimento'])]

# Check if any date_cols are missing in df_X2 and df_X3
missing_in_X2 = set(date_cols) - set(df_X2.columns)
missing_in_X3 = set(date_cols) - set(df_X3.columns)

print(f"Columns missing in df_X2: {missing_in_X2}")
print(f"Columns missing in df_X3: {missing_in_X3}")

Columns missing in df_X2: set()
Columns missing in df_X3: {201801, 201802, 201803, 201804, 201805, 201806, 201807, 201808, 201809, 201810, 201811, 201812, 201301, 201302, 201303, 201304, 201305, 201306, 201307, 201308, 201309, 201310, 201311, 201312, 201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 201401, 201402, 201403, 201404, 201405, 201406, 201407, 201408, 201409, 201410, 201411, 201412, 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 201501, 201502, 201503, 201504, 201505, 201506, 201507, 201508, 201509, 201510, 201511, 201512, 201001, 201002, 201003, 201004, 201005, 201006, 201007, 201008, 201009, 201010, 201011, 201012, 202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108, 202109, 202110, 202111, 202112, 201601, 201602, 201603, 201604, 201605, 201606, 201607, 201608, 201609, 201610, 201611, 201612, 201101, 201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109, 201110, 201111, 201112, 202201, 202202, 202203, 202204, 202205, 202206, 202207, 202208, 202209, 202210, 202211, 202212, 201701, 201702, 201703, 201704, 201705, 201706, 201707, 201708, 201709, 201710, 201711, 201712, 201201, 201202, 201203, 201204, 201205, 201206, 201207, 201208, 201209, 201210, 201211, 201212}

In [15]:
# Get list of date columns in df_X3
date_cols_X3 = df_X3.columns[~df_X3.columns.isin(['cnes', 'codigo_procedimento'])]

print(f"Date columns in df_X3: {date_cols_X3}")

Date columns in df_X3: Index(['201001', '201002', '201003', '201004', '201005', '201006', '201007',
       '201008', '201009', '201010',
       ...
       '202203', '202204', '202205', '202206', '202207', '202208', '202209',
       '202210', '202211', '202212'],
      dtype='object', length=156)